<div class="jumbotron">
    <img src='mocks/me.jpg' style='border-radius:50%;float:right;'>
    <h1>Hi,</h1>
    <p>I'm Raphaël Yan, a 24 years old developer from <b>EPITECH</b> Paris.</p>
    <p>Enjoy visiting my site and feel free to contact me for requests or propositions.</p>
    <p>I'm actually an <u>Angular/Bootstrap front developer</u> at Alstom (Paris - La défense)</p>
</div>

<div ltk-bootstrap-title="My methodology"></div>

<div class="methods">
    <div class="col-xs-3">
        <i class="fa fa-weixin"></i>
        <h2>Plan</h2>
        <h4>Listening to your needs</h4>
    </div>
    <i class="col-xs-1 fa fa-arrow-right"></i>
    <div class="col-xs-3">
        <i class="fa fa-cogs"></i>
        <h2>Collaborate</h2>
        <h4>Make the magic happen</h4>
    </div>
    <i class="col-xs-1 fa fa-arrow-right"></i>
    <div class="col-xs-3">
        <i class="fa fa-dropbox"></i>
        <h2>Deliver</h2>
        <h4>Enjoy the finished product</h4>
    </div>
</div>
